/* navigatie */
nav{
    height: 4em;
    background-color: rgb(14, 23, 38);
}

/* body content */

body{
    background-color: #131c2e;
    color: rgb(231, 231, 231);
}

h1{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
article{
    display: flex;
    background-color: rgb(32, 43, 67);
    margin-bottom: 3em;
    flex-wrap: wrap;
    width: 50%;
}


.blok1{
    flex: 1;

}

.blok2{
    width: 90%;
    margin: auto;
    
}
.blok3{
    width: 100%;

}

.blok4{
    width: 90%;
    padding-bottom: 1em;
    margin: auto;
}

form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin: auto;
}   



h2{
    text-align: center;
}



ul{
padding: 0;

}

li{
    list-style-type: none;
    margin: 1em 2em 1em 2em;
}

li p{
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0;
    
    
}

#groenestip{
    height: 3em;
    width: 3em;
    background-color: rgb(45, 107, 179);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1em;
}

#roodestip{
    height: 3em;
    width: 3em;
    background-color: rgb(236, 54, 54);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1em;
}

#roodestip:hover{
    background-color: rgb(129, 40, 40);
}
#groenestip:hover{
    background-color: rgb(27, 67, 112);
}

#roodestip:active{
    background-color: rgb(70, 20, 20);
}
#groenestip:active{
    background-color: rgb(14, 37, 65);
}


#likes{
    background: rgb(45, 107, 179);
    height: 1em;
    width: 50%;
    float: left;

}

#dislikes{
    background-color: rgb(236, 54, 54);
    height: 1em;
    width: 50%;
    float: right;

}

#all{
    width: 80%;
    margin-top: .7em;
}



/* footer */

footer{
    background-color: rgb(32, 43, 67);
    width: 100%;
    height: 4em;
    
  

}

a{
    color: rgb(231, 231, 231);
    text-decoration: none;
}


nav a{
    font-size: 3em;
}

img{
    width: 17em;
    height: 17em;
    padding: .5em;
}

@media only screen and (max-width: 600px) {
    img{
        width: 10em;
        height: 10em;
        margin: auto;
        padding: .5em;
    }
  }