<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head'); %>
</head>
 
<body>
   <header>
      <%- include('../partials/header'); %>
   </header>

   <main>
      <section>
         <article class="containerzoek">
            <img class="logomidden" src="/image/logo.png" alt="logo">
            <input class="zoekbalk" placeholder="Zoek voor mensen of games om gamers te vinden">
         </article>
         <article>
            <ul>
               <li>
                  <img src="/image/ness.jpg" alt="Ness">
                  <p>Ness</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/cheems.png" alt="cheems">
                  <p>Cheems</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <a href="/mensen">
                     <img src="/image/dsad.png" alt="Yeboy">
                     <p>Me boy</p>
                     <p class="zijtekst">Tetris</p>
                  </a>
               </li>
               <li>
                  <img src="/image/eend.jpg" alt="eend">
                  <p>Eend</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/louie.png" alt="louie">
                  <p>Louie</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/rat.png" alt="rat">
                  <p>Rat</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/stare.png" alt="stare">
                  <p>Robin Haarbrink</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/dog.jpg" alt="dog">
                  <p>Biggy Daggoe</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/kat4.jpg" alt="kat">
                  <p>Kat</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/Kat.png" alt="kat">
                  <p>Nog een kat</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/obito.png" alt="obito">
                  <p>Obito</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/pig.png" alt="pig">
                  <p>Pig</p>
                  <p class="zijtekst">Tetris</p>
               </li>
               <li>
                  <img src="/image/rat2.png" alt="rat2">
                  <p>Sneaky Rat</p>
                  <p class="zijtekst">Tetris</p>
               </li>
            </ul>
         </article>
      </section>
   </main>

   <footer>
      <%- include('../partials/footer'); %>
   </footer>
   <script src="/javascript/script.js"></script>
</body>

</html>