<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h1> Hier zijn wat mensen die ook zoeken naar iemand om mee te spelen </h1>
    <section>
        <article>
        <ul>
         <li>
            <img src="/image/ness.jpg" alt="Ness">
            <p>Ness</p>
            <span>
                <a href="*">
                  <div class="groen"> </div>
                </a>
                <a href="*">
                    <div class="rood"> </div>
                </a>
            </span>
         </li>
         <li>
            <img src="/image/cheems.png" alt="cheems">
            <p>Cheems</p>
            <span>
                <a href="*">
                  <div class="groen"> </div>
                </a>
                <a href="*">
                    <div class="rood"> </div>
                </a>
            </span>
         </li>
         <li>
            <a href="/mensen">
                <img src="/image/dsad.png" alt="Yeboy">
                <p>Me boy</p>
            </a>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
        
         </li>
         <li>
            <img src="/image/eend.jpg" alt="eend">
            <p>Eend</p>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
         </li>
         <li>
            <img src="/image/Louie.png" alt="louie">
            <p>Louie</p>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
         </li>
         <li>
            <img src="/image/rat.png" alt="rat">
            <p>Rat</p>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
         </li>
         <li>
            <img src="/image/stare.png" alt="stare">
            <p>Robin Haarbrink</p>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
         </li>
         <li>
            <img src="/image/dog.jpg" alt="dog">
            <p>Biggy Daggoe</p>
            <span>
                <a href="*">
                  <div class="rood"> </div>
                </a>
                <a href="*">
                    <div class="groen"> </div>
                </a>
            </span>
         </li>
         



         </ul>
        
        </article>
    </section>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/javascript/script.js"></script>
</body>
</html>