
/* navigatie */
nav{
    height: 4em;
    background-color: rgb(19, 28, 46);
}

/* body content */

body{
    background-color: #131c2e;
}

h1{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
article{
    display: flex;
    justify-content: center;
    width: 80%;
    
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

li{
    list-style-type: none;
    margin: 1em 2em 1em 2em;
}

li p{
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0;
    background-color: rgb(32, 43, 67);
    
}


.rood{
height: 2em;
background-color: red;
width: 50%;
float: left;
}

.groen{
height: 2em;
background-color: greenyellow;
width: 50%;
float: right;

}

/* footer */

footer{
    background-color: rgb(32, 43, 67);
    width: 100%;
    height: 4em;
    
  

}